@charset "utf-8";
/* CSS Document */
body {
    background-image: url("/IMAGES/Background.jpg");
    background-size: cover;
    font-family: Junegull, CoFo Peshka VF, Karol Sans, sans-serif;
    margin: 0;
}
        
h1, h2, h3 {
    margin: 0;
    padding: 10px;
}

#container {
    background-color: white;
    opacity: 1;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    color: #FF5A66;
    text-align: left;
    padding: 0px
}

.content {
    padding: 0;
}

.home img {
    float: left;
    width: 178px;
    height: 120px;
    padding; 30px;
    margin-top: -30px;
}

.topnav {
    width: 100%;
    background-color: white;
    opacity: ;
    line-height: 35px;
    float: left;
}

.topnav a {
    float: left;
    display: block;
    color: #FF5A66;
    text-align: left;
    padding: 15px 15px;
    text-decoration: none;
    font-family: Bebas Neue, sans-serif;
    font-size: 40px;
}
.topnav li {
    list-style: none;
}

.topnav ul {
    float: left;
}
    
.topnav ul li {
    float: left;
    list-style: none;
    position: relative;
}

#nav ul li {
    display: block;
    font-family: Bebas Neue, sans-serif;
    color: crimson;
    font-size: 14px;
    padding: 24px 14px;
    text-decoration: none;
}
.topnav ul li ul {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
    z-index: 1000;
}
.topnav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    padding: 0px;
    padding-right: 4px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 60px;
    height: 125px;
    line-height: 10px;
}
.topnav ul li ul li {
    padding: 8px 14px;
}
.topnav ul li ul li a {
    border-radius: 4px;
}

.topnav ul li ul li a:hover {
    background-color: white;
}

.slider_image {
    flex: 70%;
    display: flex;
    background-color: #B6FFD0;
    width: 100%;
    height: 700px
    
}
.main-text {
    justify-content: right;
    clear: both;
    background-color: #B6FFD0;
    float: right;
    width: 70%;
    margin-left: 190px
}
.main-text h1 {
    color: #FF5A66;
    font-size: 60px;
}
.main-text h2 {
    color: black;
    font-size: 30px;
    width: 80%;
    font-family: Karol Sans, sans-serif;
    line-height: 1.5
}
.flex-container {
    display: flex;
    background-color: #B6FFD0;
    clear: both;
    padding-top: 20px;
}
.flex-container > div {
    background-color: #B6FFD0;
    color: #FF5A66;
    width: 45%;
    margin: 0px;  
    text-align: left;
    line-height: 5px;
    font-size: 10px;
    align-content: left;
    float: left;
    margin-top: 10px;
}
.flex-container > div h1 {
    background-color: #B6FFD0;
    color: #FF5A66;
    width: 100%;
    margin: 0px;  
    text-align: left;
    font-size: 40px;
}
.flex-container > div h2 {
    background-color: #B6FFD0;
    color: black;
    width: 90%;
    margin: 0px;  
    text-align: left;
    line-height: 30px;
    font-size: 20px;
    font-family: Karol Sans, sans-serif;
}
.flex-container h3 {
    color: #FF5A66;
    font-family: Bebas Neue, sans-serif;
    text-align: right;
    font-size: 40px;
    width: 380px;
}
.flex-container h3 a {
    color: #FF5A66;
    font-family: Bebas Neue, sans-serif;
    text-align: left;
    font-size: 40px;
    text-decoration: none;
}
.flex-container h4 {
    color: #FF5A66;
    font-family: Bebas Neue, sans-serif;
    text-align: right;
    font-size: 40px;
    width: 430px;
    margin-top: 25px
}
.flex-container h4 a {
    color: #FF5A66;
    font-family: Bebas Neue, sans-serif;
    text-align: left;
    font-size: 40px;
    text-decoration: none;
}
.footer {
    text-align: center;
    background-color: #B6FFD0;
    font-family: Karol Sans, sans-serif, bold;
    padding: 20px;
}

/* About */

.about-text {
    justify-content: right;
    clear: both;
    background-color: #B6FFD0;
    float: right;
    width: 70%;
    padding: 10px
}
.about-text h1 {
    color: #FF5A66;
    font-size: 60px;
    padding-left: 20px;
}
.about-text h2 {
    color: black;
    font-size: 30px;
    width: 90%;
    font-family: Karol Sans, sans-serif;
    line-height: 1.5;
    padding-left: 20px;
}
.a-container {
    display: flex;
    background-color: #B6FFD0;
    clear: both;
    padding-top: 10px;
    justify-content: left;
    margin-bottom: 30px;
    margin-right: 50px;
}
.a-container > div {
    background-color: #B6FFD0;
    color: #FF5A66;
    width: 35%;  
    text-align: left;
    line-height: 4px;
    font-size: 10px;
    align-content: left;
    float: left;
    margin-top: 10px;
    
}
.a-container > div h1 {
    background-color: #B6FFD0;
    color: #FF5A66;
    width: 100%;
    margin: 0px;
    text-align: left;
    font-size: 40px;
    padding-top: 15px;
    align-content: flex-start;
}
.a-container > div h2 {
    background-color: #B6FFD0;
    color: black;
    width: 120%;
    margin: 0px;  
    text-align: left;
    line-height: 30px;
    font-size: 20px;
    font-family: Karol Sans, sans-serif;
}
h3 {
    color: black;
    font-size: 10pt;
    font-family: Karol Sans, sans-serif;
    padding-left: 20px;
    margin-left: 30px
}

/* Flavors */

.flavors-container {
    display: flex;
    flex: wrap;
    background-color: #B6FFD0;
    clear: both;
    justify-content: center;
    height: 700px
}
.flavor-row1 {
    margin-left: 20px;
    margin-top: 0px;
    height: 30%;
}
.flavor-row1 img {
    margin-top: 10px;
    height: 30%;
}
.flavors-text {
    justify-content: right;
    clear: both;
    background-color: #B6FFD0;
    float: right;
    width: 40%;
    padding: 10px
}
.flavors-text h1 {
    color: #FF5A66;
    font-size: 60px;
    padding-left: 20px;
}
.flavors-text h2 {
    color: black;
    font-size: 30px;
    width: 100%;
    font-family: Karol Sans, sans-serif;
    line-height: 1.5;
    padding-left: 20px;
}
.flavors-container > div h3 {
    color: #FF5A66;
    text-align: left;
    font-family: Junegull, sans-serif;
    font-size: 13px;
    padding: 0pt;
    
}

/* Ingredients */

.ingredients-text {
    justify-content: right;
    clear: both;
    background-color: #B6FFD0;
    float: right;
    width: 70%;
    padding: 10px
}
.ingredients-text h1 {
    color: #FF5A66;
    font-size: 50px;
    padding-left: 00px;
}
.ingredients-text h2 {
    color: black;
    font-size: 30px;
    width: 90%;
    font-family: Karol Sans, sans-serif;
    line-height: 1.5;
    padding-left: 0px;
}

/* Products */

.full-image {
    flex: 70%;
    display: flex;
    background-color: #B6FFD0;
    width: 100%;
    height: 200p;
    justify-content: center;
}
.full-image img {
    align-content: center;
    float: center;
    justify-content: center;  
}

.top-flavors {
    clear: both;
    background-color: #B6FFD0;
    float: left;
    padding: 0px;
    width: 93%;
    margin-left: 140px;
    padding-bottom: 50px;
}
.top-flavors h1 {
    color: #FF5A66;
    font-size: 60px;
    padding-left: 50px;
    width: 50%
}
.top-flavors > h2 {
    display:flex;
    color: #FF5A66;
}
.top-flavors > div h3 {
    color: #FF5A66;
    text-align: left;
    font-family: Junegull, sans-serif;
    font-size: 20px;
    padding-left: 0pt;
    padding: 0pt;
}
.flavor-row {
    display: flex;
    float: left;
    justify-content: space-evenly;
    width: 98%
}
.product-buttons {
    width: 570px;
    height: 200px;
}
.product-button-1 {
    background-color: #FF5A66;
    width: 500px;
    height: 75px;
    margin-top: 15px;
    text-align: center;
}
.product-button-1 h2 {
    color: white;
    font-size: 40px;
    width: inherit;
    font-family: Junegull, sans-serif;
}
.product-button-2 {
    background-color: #FF5A66;
    width: 500px;
    height: 75px;
    margin-top: 20px;
    text-align: center;
}
.product-button-2 h2 {
    color: white;
    font-size: 40px;
    width: inherit;
    font-family: Junegull, sans-serif; 
}
.flavor-row a {
    display: block;
    opacity: ;
    text-decoration: none;
}

/* Blog */

.blog-post {
    flex: 70%;
    display: flex;
    background-color: #B6FFD0;
    width: 50%;
    height: 600px;
    flex-direction: column;
    padding-left: 10px;
}
blog {
    float: left;
    background-color: #B6FFD0;
    color: #FF5A66;
    font-family: Junegull, sans-serif;
    width: 800px;
    font-size: 35pt;
    height: 100px;
}
article h3 {
    float: left;
    width: 85%;
    height: 325px;
    font-family: Karol Sans, sans-serif;
    font-size: 14pt;
    padding: 0;
    line-height: 1.75;
}
article h4 {
    float: left;
    font-family: Karol Sans, sans-serif;   
    margin-top: 30px;
    margin-bottom: 10px
}
.blog-post h2 {
    color: #FF5A66;
    font-family: Bebas Neue, sans-serif;
    text-align: left;
    font-size: 30px;
    width: 330px;
    padding: 0;
}
.blog-post a{
    display: block;
    text-decoration: none;
    width: 100%
}
table {
    width: 100%;
    float: left;
    font-family: Bebas Neue, sans-serif;
    font-size: 20pt;
    color: #FF5A66;
    text-align: left;
    table-layout: fixed;
}
tbody {
    width: 25%
}
table a:visited {
    color: #FF5A66;
}
/* Contact Us */

.contact-intro {
    background-color: #B6FFD0;
    padding: 49px;
    width: 94.9%
}
.contact-intro h1 {
    color: #FF5A66;
    font-size: 70px;
    margin-left; 5%
    width: 70%
}
.contact-intro h2 {
    float: left;
    width: 80%;
    height: 50px;
    font-family: Karol Sans, sans-serif;
    font-size: 14pt;
    line-height: 1.75;
    padding-left: 20px
}
.form {
    width: 100%;
    background-color: #B6FFD0;
    text-align: left;
    display: block;
}

/* Slider on index */

.carousel-wrapper {
    height: 568px;
    position: relative;
    width: 880px;
    margin: 0 auto;
}
.carousel-item {
    position: absolute;
    top: 10px;
    bottom 0;
    left: 10px;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    height: 500px;
    width: 740px;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    border-color: white;
}
.arrow-prev {
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}
.arrow-next {
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}
.light {
    color: white;
}
@media (max-width: 480px) {
    .arrow, .light .arrow {
        background size: 10px;
        background-position: 10px 50%;
    }
  }
}
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background:url("/IMAGES/Homepage-Image-1.jpg");
    background-size:cover;
}
.item-2{
    background:url("/IMAGES/Homepage-Image-2.jpg");
    background-size:cover;
}
.item-3{
    background: url("/IMAGES/Homepage-Image-3.jpg");
    background-size: cover;
}
*:target ~ .item-1 {
    opacity: 0;
}
#item-1:target ~ .item-1 {
    opacity: 1;
}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}


